<DOCTYPEHTML>
<link rel="stylesheet"
      type="text/css"
      href="../static/css/store.css"/>


<title>Widgetorium- Store</title>
<body>
<center><h1>Widgetorium</h1></center>
<center>Welcome {{username}}</center>
<br>
<h2>Available Widgets</h2>
<br>
<table>
<tr>
<th>ID</th>
<th>Name</th>
<th>Description</th>
<th>Size</th>
<th>Color</th>
<th>Price</th>
<th>View</th>
</tr>
{% for widget in widgets %}
<tr>
<td>
{{widget[0]}}
</td>
<td>
 {{widget[1]}}
 </td>
 <td>
 {{widget[2]}}
 </td>
 <td>
 {{widget[3]}}
 </td>
 <td>
 {{widget[4]}}
 </td>
 <td>
 ${{widget[5]}}
 </td>
<td>
<form method='POST' action="/store">
<input type="hidden" name="wid" value={{widget[0]}}></input>
<input type="hidden" name="quantity" value='0'></input>
<input type="submit" name="submit" value="view"></input>
</form>
</td>
{% endfor %}
</table>
<br>
<h2>{{username}}'s Order History</h2>
<br>
<table>
<tr>
<th>Order ID</th>
<th>Item ID</th>
<th>Item Name</th>
<th>Quantity</th>
<th>Order Status</th>
</tr>
{% for order in orders %}
<tr>
<td>
{{order[0]}}
</td>
<td>
{{order[1]}}
</td>
<td>
{{order[2]}}
</td>
<td>
{{order[3]}}
</td>
<td>
{{order[4]}}
</td>
</tr>
{% endfor %}
</table>
</body>
</html>