<DOCTYPEHTML>
<title>Testing</title>
{% for result in results %}
{{result}}
<br>
{% endfor %}
Add widget
<br>
<form method='POST' action="">
ID: <input type="number" id="id" name="id"></input>
<br>
Name: <input type="text" id="name" name="name"></input>
<br>
Description: <input type="text" name="description" id="description"></input>
<br>
Size: <input type="text" name="size" id="size"></input>
<br>
Color:  <input type="text" name="color" id="color"></input>
<br>
Price:  <input type="number" name="price" id="price"></input>
<br>
<input type="text" name="delete" id="delete"></input>
<br>

<br>
Users: <br>
ID: <input type="number" name="userid" id="userid"></input>
<br>
Name: <input type="text" name="username" id="username"></input>
<br>
E-mail: <input type="text" name="email" id="email"></input>
<br>
Password: <input type="text" name="password" id="password"></input>
<br>
Type: <input type="text" id="accounttype" name="accounttype"></input>
<br>
<input type="text" name="userdelete" id="userdelete"></input>
<br>
<input type="submit" id="submit" name="submit"></input>
</form>
</html>